@* File: Views/Admin/Index.cshtml *@
@{
    ViewData["Title"] = "Bảng điều khiển";
    Layout = "_AdminLayout"; 
}

<h1 class="h3 mb-4">Bảng điều khiển</h1>

<div class="row">
    <vc:admin-stats></vc:admin-stats>
</div>

<div class="row mt-4">
    <div class="col-lg-7">
        <vc:revenue-chart></vc:revenue-chart>
    </div>
    <div class="col-lg-5">
        <vc:recent-movies></vc:recent-movies>
    </div>
</div>