
@* Khuyến mãi *@
<section class="promotion-section container my-5">
    <h3 class="fw-bold mb-4 text-uppercase">KHUYẾN MÃI</h3>

    <div class="swiper promotion-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/promo1.png" class="img-fluid rounded" alt="Khuyến mãi 1" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/promo3.png" class="img-fluid rounded" alt="Khuyến mãi 2" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/hssv-2_promo.png" class="img-fluid rounded" alt="Khuyến mãi 3" />
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/promo4.jpg" class="img-fluid rounded" alt="Khuyến mãi 4" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/promo5.jpg" class="img-fluid rounded" alt="Khuyến mãi 5" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/images/promo6.jpg" class="img-fluid rounded" alt="Khuyến mãi 6" />
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination promotion-pagination"></div>
    </div>

    <div class="text-center mt-4">
        <a href="#" class="btn btn-warning fw-bold px-4 py-2">TẤT CẢ ƯU ĐÃI</a>
    </div>
</section>