
@* Banner *@
<div class="swiper banner-swiper container my-3">
    <div class="swiper-wrapper">
        <div class="swiper-slide text-center">
            <a href="#">
                <img src="~/images/banner-web.png" alt="Banner 1 "/>
            </a>
        </div>
        <div class="swiper-slide text-center">
            <a href="#">
                <img src="~/images/banner_ad.png" alt="Banner 2" />
            </a>
        </div>
        <div class="swiper-slide text-center">
            <a href="#">
                <img src="~/images/chaching2.png" alt="Banner 3" />
            </a>
        </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>